body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.traffic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Palo superior */
#trafficTop {
  width: 10px;
  height: 60px;
  background: black;
}

/* Caja negra */
#container {
  background: black;
  padding: 15px;
  border-radius: 10px;
}

/* Luces */
.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  opacity: 0.4;
  cursor: pointer;
}

.red {
  background: red;
}

.yellow {
  background: orange;
}

.green {
  background: green;
}
